.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa; /* Optional for a subtle background */
  }
  
  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .logo img {
    max-width: 100px;
    margin-bottom: 1.5rem;
  }
  
  .form-control {
    width: 100%;
  }
  
  .btn-primary {
    width: 100%;
  }
  
  .btn-link {
    background: none;
    border: none;
    padding: 0;
    color: #0C120C;
    cursor: pointer;
  }
  